/* Importation de la police Inter de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

/* Styles de base pour l'application */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f7fafc;
  color: #1a202c;
  margin: 0;
}

/* Animation pour le spinner de chargement */
.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
